<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spit.spy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity"></activity>
        <activity android:name=".infant.activities.StepsActivity"></activity>
        <activity android:name=".health_records.activities.HRStepsActivity"></activity>
        <activity android:name=".infant.activities.PensionersListInfantActivity"></activity>
        <activity android:name=".pregnant_women.activities.PensionersListWomenActivity"></activity>
        <activity android:name=".pregnant_women.activities.WomanDetailsUpdateActivity"></activity>
        <activity
            android:name=".health_records.activities.HealthRecordsListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".health_records.activities.MembersListStep1Activity"
            android:theme="@style/MyCustomDialog"/>
        <activity android:name=".health_records.activities.MembersListStep2Activity"
            android:theme="@style/MyCustomDialog"/>
        <activity android:name=".health_records.activities.MembersListStep3Activity"
            android:theme="@style/MyCustomDialog"/>
        <activity android:name=".health_records.activities.MembersListStep4Activity"
            android:theme="@style/MyCustomDialog"/>
        <activity android:name=".health_records.activities.MembersListStep5Activity"
            android:theme="@style/MyCustomDialog"/>
        <activity android:name=".health_records.activities.MembersListStep6Activity"
            android:theme="@style/MyCustomDialog"/>
        <activity android:name=".health_records.activities.MembersListStep7Activity"
            android:theme="@style/MyCustomDialog"/>

    </application>

</manifest>